<?xml version="1.0" encoding="utf-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="icircle/line-item-price-rule-engine">
      <directory suffix=".php">./tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
        <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="coverage.xml"/>
  </logging>
</phpunit>
